PRIVATE_KEY=0xYOUR_PRIVATE_KEY
PAYOUT_OPERATOR_ADDRESS=0xYOUR_PAYOUT_OPERATOR_ADDRESS
MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_CHAIN_ID=10143
ETHERSCAN_API_KEY=
PRIVATE_KEY=
PAYOUT_OPERATOR_ADDRESS=
MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz
ETHERSCAN_API_KEY=
